<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h3>Please Add</h3>
        <form action="/saveit" method="post">
            <input type="hidden" name="username" value="<%=username%>">
            <input type="text" placeholder="enter title" name="title">
            <br><br>
            <input type="text" placeholder="enter description" name="description">
            <br><br>
            <button>submit</button>
        </form>
    </body>
</html>
