table {
  width: 80%;
  margin: auto;
  border-collapse: collapse; 
  border: 2px solid lightgoldenrodyellow;
}

th, td {
  border: 1px solid lightgoldenrodyellow;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
}
.alerthai {
  color:darkred;
}
.para {
  color: green;
}
.para2 {
  color: darkolivegreen;
}
* {
  background-color: black;
  color: white;
}
button {
  background-color: pink;
  color: black;
}